.doctor-detail-container {
    width  : 100%;
    padding: 0 12%;

    .doctor-detail-content {
        width: 100%;


        .doctor-detail-description {
            width         : 60%;
            height        : 140px;
            display       : flex;
            flex-direction: row;
            margin        : 20px 0;

            .content-left {
                width : 20%;
                height: 100%;


                .avatar {
                    width            : 100%;
                    height           : 100%;
                    background-repeat: no-repeat;
                    background-size  : cover;
                    border-radius    : 100px;
                }
            }

            .content-right {
                display        : flex;
                flex-direction : column;
                justify-content: center;
                width          : 80%;
                height         : 100%;
                gap            : 5px;
                padding-left   : 10px;

                .doctor-title {
                    font-size  : 160%;
                    font-weight: 700;
                }

                .doctor-description {
                    opacity  : 0.7;
                    font-size: 110%;
                }

                .doctor-address {
                    i {
                        opacity: 1;
                    }

                    span {
                        margin-left: 5px;
                        opacity    : 0.7;
                        font-size  : 110%;
                    }
                }
            }
        }
    }

}

.schedule-container {
    margin : 50px 0;
    width  : 100%;
    height : 250px;
    padding: 0 12%;

    .schedule-content {
        width         : 100%;
        height        : 100%;
        display       : flex;
        flex-direction: row;

        .content-left {
            width       : 60%;
            height      : 100%;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
        }

        .content-right {
            width : 40%;
            height: 100%;
        }
    }
}

.doctor-detail-markdown {
    width           : 100%;
    padding         : 50px 12%;
    background-color: aqua;
    background-color: rgb(249, 249, 249/1);

    .docter-detail-markdown-content {
        width : 100%;
        border: 1px solid red;
        height: 100px;
    }
}

.markdown-content-html {
    font-size: 105%;
}