.doctor-schedule-client-container {
    width : 100%;
    height: 100%;

    .doctor-schedule-client-content {
        width         : 100%;
        height        : 100%;
        display       : flex;
        flex-direction: column;

        .schedule-select {
            width: 100%;


            select {
                width        : 150px;
                border       : none;
                border-bottom: 1px solid black;
                font-size    : 14px;
                font-weight  : 700;
                color        : rgb(51, 122, 183/ 1);
                outline      : none;


                option {
                    color: black
                }
            }


        }

        .schedule-header {
            width    : 100%;
            height   : 30px;
            padding  : 10px 0;
            font-size: 110%;
            opacity  : 0.8;

        }

        .schedule-list {
            width         : 100%;
            display       : flex;
            flex-direction: row;
            flex-wrap     : wrap;
            padding       : 18px 0;
            gap           : 14px;
            align-items   : center;

            .schedule-list-date {
                width       : 140px;
                height      : 50px;
                margin-right: 3%;
                font-size   : 90%;
                color       : black;
            }
        }

        .schedule-description {
            width  : 100%;
            opacity: 0.8;
            padding: 20px 0;
        }
    }
}