.anima{
    position: relative;
    margin-top:300px;
    width:100px;
    height:100px;
    background-color: red;
    margin-left:400px;
    transition:transform 4s;
    animation-name:exam;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

.animacolo{
    margin-top:100px;
    margin-bottom: 200px;
    width:0px;
    height:50px;
    animation-name:colo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes exam{
    0%{left:0%;top:0}
    25%{left:50%;top:0;transform:rotate(360deg)}
    50%{left:50%;top:300px}
    75%{left:0%;top:300px}
    100%{left: 0%;top:0px}
}

@keyframes colo{
    from{}
    to{background-image: linear-gradient(to right,rgb(256,0,0,1),rgb(256,0,0,0));width: 100%;}
}