.section-container {
    width     : 100%;
    height    : 430px;
    margin-top: 30px;


    &.section-specialty {
        // background-color: rgba(242, 242, 242, 0.8);
        // background-image: url('../../assets/Out-Standing-Doctor-Background.png');
        // margin-top: 180px;
        height: 430px;
    }

    &.section-medical-facility {
        background-color: white;
        background-size : contain;

    }

    &.section-outstanding-doctor {
        background-image: url('../../assets/Out-Standing-Doctor-Background.png');
        background-size : contain;
    }

    &.section-hand-book {
        background-color: white;
    }

    &.section-about {
        background-color: rgba(242, 242, 242, 0.8);
        display         : flex;
        flex-direction  : column;
        align-items     : center;
        justify-content : center;
        height          : 450px;

        .about-detail {
            font-size  : x-large;
            font-weight: 700;
            margin     : 30px 0;

        }

        .about-content {
            width         : 80%;
            height        : 100%;
            margin-left   : auto;
            margin-right  : auto;
            display       : flex;
            flex-direction: row;
            gap           : 30px;

            .content-left {
                width        : 50%;
                height       : 85%;
                border-radius: 10px;
            }

            .content-right {
                width : 50%;
                height: 100%;

                p {
                    text-align: justify;
                    font-style: italic;
                    font-size : 105%;
                }

                /*
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                align-items: flex-start;

                .gallery-items {
                    width: 45%;
                    height: 17%;   
                    background-position-x: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-color: white;

                    &.vtv1 {
                        background-image: url('../../assets/vtv-2.png');
                    }

                    &.vtv2 {
                        background-image: url('../../assets/vtv-1.png');
                    }

                    &.vtv3 {
                        background-image: url('../../assets/vtv-3.png');
                    }

                    &.vtv4 {
                        background-image: url('../../assets/vtv-4.png');

                    }
               }
                    */
            }
        }
    }

    &.section-home-footer {
        height          : 200px;
        background-color: #64b9e5;
        margin-top      : 0;
        display         : flex;
        flex-direction  : column;
        align-items     : center;
        justify-content : center;
        gap             : 20px;
        color           : white;

        .footer-description {
            font-size: 105%;
        }

        .footer-term {
            display       : flex;
            flex-direction: row;
            gap           : 20px;

            .term-items {
                cursor         : pointer;
                text-decoration: underline;
            }
        }

        .footer-social-link {
            display       : flex;
            flex-direction: row;
            gap           : 50px;

            .social-icon {
                font-size: 130%;
                color    : white;
            }
        }
    }

    &.section-home-footer-test {
        height: fit-content !important;

        body {
            background : #ff5f6d;
            background : -webkit-linear-gradient(to right, #00001a, #00004d);
            background : linear-gradient(to right, #00001a, #00004d);
            min-height : 100vh;
            font-family: 'Sanchez', serif;
        }

        #button-addon1 {
            color: #ffc371;
        }

        i {
            color    : #0000cc;
            font-size: 20px;
        }

        .form-control::placeholder {
            font-size : 0.95rem;
            color     : #aaa;
            font-style: italic;
        }

        .form-control.shadow-0:focus {
            box-shadow: none;
        }


        .display-3 {
            font-family: 'Sanchez', serif;
        }

        p {
            font-family: 'Tajawal', sans-serif;
        }

        .lead {
            font-family: 'Sanchez 200', serif;
        }


    }

    .section-content {
        width       : 80%;
        height      : 100%;
        overflow    : hidden;
        margin-left : auto;
        margin-right: auto;

        .section-detail {
            width      : 100%;
            height     : 18%;
            margin-top : 30px;
            font-weight: 700;
            font-size  : large;
            position   : relative;

            span {
                position   : absolute;
                left       : 55px;
                font-size  : 120%;
                font-weight: 700;
            }

            button {
                position: absolute;
                right   : 30px;
                border  : none;
                padding : 5px 10px;
                color   : gray;
            }

        }

        .carousel-container {
            margin-left: 2% !important;
            width      : 95%;
            height     : 260px;
            overflow   : hidden;

            .react-multi-carousel-track {
                list-style                 : none;
                padding                    : 0;
                margin-left                : 2%;
                display                    : flex;
                flex-direction             : row;
                position                   : relative;
                transform-style            : preserve-3d;
                -webkit-backface-visibility: hidden;
                backface-visibility        : hidden;
                will-change                : transform, transition;
            }

            .react-multiple-carousel__arrow {
                z-index: 0;
            }


            .react-multiple-carousel__arrow--left {
                left: 0;
            }

            .react-multiple-carousel__arrow--right {
                right: 0px;
            }

            .section-items {
                width          : 245px;
                height         : 260px;
                display        : flex;
                flex-direction : column;
                align-items    : center;
                justify-content: center;
                cursor         : pointer;


                &.section-hand-book {
                    width          : 480px;
                    flex-direction : row;
                    align-items    : center;
                    justify-content: center;
                    border         : 1px solid rgba(0, 0, 0, 0.3);
                }

                &.specialty {
                    border          : 1px solid rgba(0, 0, 0, 0.1);
                    padding         : 15px;
                    background-color: white;
                    border-radius   : 20px;
                }

                &.section-out-standing-doctor {
                    width: 230px;
                }

                .section-image {
                    width            : 100%;
                    height           : 75%;
                    background-repeat: no-repeat;
                    background-size  : cover;


                    &.section-medical-facility {
                        background-size: contain;
                    }

                    &.section-outstanding-doctor {
                        background-image: url('../../assets/Out-Standing-Doctor.jpg');
                        border-radius   : 650px;
                        width           : 85%;
                    }

                    &.section-hand-book {
                        background-image: url('../../assets/Medical-facility-Img.jpg');
                        width           : 60%;
                        height          : 100%;

                    }

                    &.section-specialty {
                        background-position-x: -60px;
                    }
                }


                .section-text {
                    width      : 100%;
                    height     : 25%;
                    text-align : center;
                    user-select: none;
                    padding-top: 10px;
                    font-weight: 600;
                    font-size  : 110%;

                    &.section-facility {
                        font-size: 100%;
                    }

                    &.section-outstanding-doctor {
                        text-align: center;
                    }

                    &.section-hand-book {
                        width     : 40%;
                        height    : 100%;
                        text-align: left;

                    }

                    &.section-specialty {
                        font-size: 125%;
                    }

                    .section-text-description {
                        width      : 100%;
                        font-size  : 100%;
                        font-weight: 400;
                    }

                }

            }
        }
    }
}