@import "../../styles/common.scss";

.drawer-container {
    width  : 100%;
    height : 100%;
    padding: 0 5%;


    .drawer-content {
        width         : 100%;
        height        : 100%;
        display       : flex;
        flex-direction: column;

        .drawer-logo-group {
            cursor           : pointer;
            width            : 100%;
            height           : 50px;
            // box-shadow    : rgba(0, 0, 0, 0.04) 0px 3px 5px;
            display          : flex;
            flex-direction   : row;
            margin-top       : 15px;

            .drawer-logo-icon {
                width    : 30%;
                height   : 100%;
                font-size: 238%;
                padding  : 0 10px;
                color    : #FFC419 // color       : #1995AD
            }

            .drawer-logo-description {
                width      : 70%;
                height     : 100%;
                text-align : left;
                padding    : 13px 0;
                font-weight: 700;
                color      : #737373;
            }
        }

        .drawer-section {
            width         : 100%;
            display       : flex;
            flex-direction: column;
            margin-top    : 30px;

            .drawer-section-title {
                opacity: 0.4;
            }

            .drawer-section-child {
                display       : flex;
                flex-direction: row;
                height        : 50px;
                padding-left  : 15px;
                cursor        : pointer;
                opacity       : 1;

                .drawer-section-child-icon {
                    width          : 16%;
                    height         : 100%;
                    font-size      : 140%;
                    // color    : rgba(0, 0, 0, 0.7);
                    // color       : #A1D6E2;
                    color          : #d9d9d9;
                    padding        : 10px 0;

                }

                .drawer-section-child-icon-end {
                    width          : 5%;
                    height         : 100%;
                    font-size      : 115%;
                    // color    : rgba(0, 0, 0, 0.7);
                    // color       : #A1D6E2;
                    color          : #d9d9d9;
                    padding        : 13px 0;

                }

                .drawer-section-child-description {
                    width      : 70%;
                    height     : 100%;
                    font-size  : 110%;
                    padding    : 3px 0;
                    font-weight: 450;
                    font-size  : 98%;
                    padding    : 15px 0;
                    color      : #101820;
                }

                &:hover {
                    opacity: 0.5;

                    // background-color: darken($colormain, 5);
                }

                // &:hover .drawer-section-child-description {
                //     color: #49bce2 !important;
                // }

                // &:hover .drawer-section-child-icon {
                //     color: #49bce2 !important;
                // }
            }
        }
    }
}