.doctor-schedule-container {
    width     : 100%;
    padding   : 20px 15%;
    margin-top: 50px;

    .doctor-schedule-content {
        width         : 100%;
        display       : flex;
        flex-direction: column;
        gap           : 50px;

        .content-up {
            width         : 100%;
            display       : flex;
            flex-direction: row;
            gap           : 50px;

            .select-container {
                width: 50%;
            }

            .select-date {
                width: 50%;
            }

        }

        .content-center {
            width         : 100%;
            display       : flex;
            flex-direction: row;
            flex-wrap     : wrap;
            gap           : 30px;

            .date-button {
                &.active {}
            }
        }

        .content-down {
            width: 100%;
        }
    }
}