.manage-patient-container {
    width        : 100%;
    padding      : 0 3%;
    margin-top   : 2%;
    margin-bottom: 10%;

    .manage-patient-content {
        border        : 1px solid rgba(0, 0, 0, 0.2);
        width         : 100%;
        height        : 100%;
        display       : flex;
        flex-direction: column;

        .Patient-logo {
            width     : 100%;
            height    : 3%;
            margin-top: 20px;

            .logo {
                width                : 28%;
                height               : 30px;
                background-image     : url('../../../assets/logo.png');
                background-size      : contain;
                background-repeat    : no-repeat;
                background-position-x: center;
                cursor               : pointer;
                margin-left          : auto;
                margin-right         : auto;
            }
        }

        .title-container {
            width         : 100%;
            height        : 5%;
            display       : flex;
            flex-direction: column;
            align-items   : center;
            margin        : 19px 0;

            .Patient-title {
                height     : 50%;
                font-size  : 120%;
                font-weight: 600;
            }

            .Patient-description {
                height    : 50%;
                opacity   : 0.6;
                margin-top: 10px;
            }
        }

        .horizon-line {
            width           : 100%;
            height          : 1px;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius   : 3px;
        }

        .Patient-form {
            width         : 100%;
            height        : 80%;
            display       : flex;
            flex-direction: column;
            gap           : 0px;
            padding       : 0 35px;
            margin-top    : 30px;

            .Patient-section-container {
                width: 100%;

                .section-content {
                    display        : flex;
                    flex-direction : column;
                    width          : 100%;
                    justify-content: center;





                    .time-container {
                        width          : 100%;
                        display        : flex;
                        flex-direction : row;
                        margin-top     : 45px;
                        margin-bottom  : 10px;
                        gap            : 30px;
                        justify-content: space-between;


                        .date-picker-content {
                            display       : flex;
                            flex-direction: column;
                            width         : 50%;
                            height        : 38px;

                            .date-picker-child {
                                width: 100%;

                            }

                            .date-picker-detail {
                                width     : 100%;
                                font-size : 96%;
                                text-align: left;
                                font-style: italic;

                                .date-picker-detail-all {
                                    color : darkturquoise;
                                    cursor: pointer;
                                }
                            }
                        }

                        label {
                            width        : 12%;
                            margin-bottom: 0;
                        }
                    }

                    .table-options-container {
                        width         : 100%;
                        display       : flex;
                        flex-direction: row;
                        margin-top    : 50px;
                        gap           : 20px;

                        .changeBtn {
                            font-size  : 100%;
                            font-weight: 600;
                            cursor     : pointer;

                            &:hover {
                                opacity: 0.8;
                            }
                        }

                        .changeBtnSecond {
                            opacity: 0.4;
                        }
                    }



                }
            }
        }
    }
}

.set-width-note {
    font-size: 100%;


    &.ele0 {
        width: 50px;
    }

    &.ele1 {
        width: 110px;
    }

    &.ele2 {
        width: 170px;
    }

    &.ele3 {
        width: 130px;
    }

    &.ele4 {
        width: 150px;
    }

    &.ele5 {
        width     : 273px;
        text-align: center;
    }

    &.ele6 {
        width: 87px;
    }
}


.set-width-note-1 {
    // width    : 150px;
    font-size: 92%;


    &.ele0 {
        width: 50px;
    }

    &.ele1 {
        width: 104px;
    }

    &.ele2 {
        width: 78px;
    }

    &.ele3 {
        width: 90px;
    }

    &.ele4 {
        width: 126px;
    }

    &.ele5 {
        width     : 230px;
        text-align: center;
    }

    &.ele6 {
        width     : 87px;
        text-align: center;
    }
}

.table-group-btn {
    width          : 100%;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;

    &.table2 {
        justify-content: center;
        gap            : 20px
    }
}


table {
    min-height: 300px;
}

.no-data-content {
    position      : absolute;
    left          : 50%;
    // top     : -30px;
    // bottom     : 100px;
    margin-top    : 120px;
    font-size     : 110%;
    font-weight   : 600;
}