.bill-container {
    width        : 100%;
    height       : 55px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);

    .bill-content {
        width      : 100%;
        height     : 100%;
        padding    : 15px;
        font-size  : 1.25rem;
        opacity    : 0.8;
        font-weight: 600;

    }
}

.send-email-container {
    width        : 100%;
    height       : 100%;
    padding      : 0 1%;
    margin-top   : 2%;
    margin-bottom: 10px;

    .send-email-conent {
        width         : 100%;
        height        : 100%;
        display       : flex;
        flex-direction: column;
    }

    .email-form {
        width         : 100%;
        height        : 100%;
        display       : flex;
        flex-direction: column;
        gap           : 0px;
        padding       : 0 10px;

        .email-section-container {
            width: 100%;

            .section-content {
                display        : flex;
                flex-direction : row;
                width          : 100%;
                margin-top     : 10px;
                justify-content: center;

                .content-right {
                    width : 100%;
                    height: 100%;

                    .type-book {
                        margin-left: 18px;
                        margin-top : 5px;
                    }

                    .text-field-mail {
                        height: 100px;
                    }
                }


            }

            .email-sectioc-description {
                width        : 100%;
                background   : #D4EFFC;
                margin-bottom: 10px;
                padding      : 10px;
                border-radius: 3px;
                margin-bottom: 15px;
            }


        }
    }
}

.react-responsive-modal-modal {
    max-width: none !important;
    width    : 42% !important;
}

.react-responsive-modal-modal {
    padding      : 0 !important;
    border-radius: 15px;
}

.email-modal-footer {
    width     : 100%;
    height    : 40px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    display   : flex;
}