
.login-background{
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
    font-family:sans-serif;
    height: 100vh;
}

.login-container{
    width:400px;
    margin : auto;
    padding:10px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    height:410px;

        .login-content{
            padding:10px;
            .login-text{
                text-align : center;
                font-size:large;
                font-weight: 600;
                padding-top:10px;
                
            }
            .login-input{
                margin:7px 0;
                position: relative;
                .icon-input{
                    position: absolute;
                    right: 15px;
                    bottom: 10px;
                    cursor: pointer;
                }
            }
            .btn-login {
                width: 100%;
                height: 30px;
                margin: 10px 0;
                border-radius: 15px;
                outline: none;
                border: none;
                background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
                font-family: "work sans";
                color:white;
                font-size:120%;
            }
            .forgot-password{
                font-size: 13px;
            }
            .social-login{
                display:flex;
                justify-content: center;
                margin-top:10px;
                    .google{
                        background-color: #c32424;
                        align-items: center;
                        justify-content: center;
                        border-radius: 30px;
                        font-size: 35px;
                        width: 50px;
                        height:50px;
                        display: flex;
                        color:white;
                        margin-right: 10px;
                    }

                    .facebook{
                        background-color: #307aaf;
                        align-items: center;
                        justify-content: center;
                        border-radius: 30px;
                        font-size: 35px;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        color:white;
                    }
            }
        }
}